nav {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .37);
    -ms-box-shadow:     0 2px 5px rgba(0, 0, 0, .37);
    box-shadow:         0 2px 5px rgba(0, 0, 0, .37);
    z-index: 100;
}
.login-button,
.registration-button {
    cursor: pointer;
    color: white;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}