nav {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .37);
    -ms-box-shadow:     0 2px 5px rgba(0, 0, 0, .37);
    box-shadow:         0 2px 5px rgba(0, 0, 0, .37);
    z-index: 100;
}
nav .navbar-brand {
    background-color: #999;
    width: 245px;
}